<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Kid Keeper</title>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

    <style>
    .jumbotron {
    position: relative;
    background: url(/assets/shutterstock_197442443.jpg) center center;
    width: 100%;
    height: 500px;
    background-size: cover;
    overflow: hidden;
}
</style>
</head>

<body>
 <div class="jumbotron">
    <div class="container">
        <h3>Keep your toddler safe. Ensure safety with Kid Keeper</h3>
        <h5><a href="#">Sign Up!</a></h5>
    </div>
</div>

<div class="col-md-4">
    <img src="/assets/Report%20Card-50.png">
    <h5>Monitor vital stats about your child's environment</h5>
</div>

<div class="col-md-4">
    <img src="/assets/Rocket-50.png">
    <h5>Information delivered instantly to your iPhone</h5>
</div>

<div class="col-md-4">
    <img src="/assets/GPS%20Device-50.png"</div>
    <h5>Pinpoint your childs location, accurate to 10 metres</h5>
</div>    
</body>